body{
    
background-color:rgb(255, 255, 255);
color:rgb(0, 0, 0);
font-family:fantasy;
font-size:10px;
line-heigt:1.6em;
}

.foto{
    border: 20px white solid;
    padding: 5px blue solid;
    margin: 5px yellow solid;
    align: center;
}
.box-1{
 border: 5px white solid;
    padding: 5px blue solid;
    margin: 5px yellow solid;
    letter-spacing; 0.2em;
    word-spacing: 0.4em; 
    text-align: center;


}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
a:visited{ color:blue; }


