body{
    
background-color:rgb(255, 255, 255);
color:rgb(0, 0, 0);
font-family:fantasy;
font-size:10px;
line-heigt:1.6em;
}

.foto{
    border: 20px red solid;
    padding: 5px blue solid;
    margin: 5px yellow solid;
}